<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-9/12">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 bg-white border-solid border-0 border-blueGray-300"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-4">
         
            <div class="w-full h-24 overflow-scroll">
             
              <ng-multiselect-dropdown
                [placeholder]="'Select users'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block text-blueGray-600 text-3xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Notification message :
              </label>
              <textarea
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="exampleFormControlTextarea1"
                rows="5"
                placeholder="Your message"
              ></textarea>
            </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
