
<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="-mt-24">
    <app-card-search-filter></app-card-search-filter>
  </section>
  <section class="relative py-20 bg-white">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap justify-center">
        <div class="w-1/2 px-4 md:w-4/12">
          <app-card-filter></app-card-filter>
        </div>
        <div class="w-full px-4 md:w-8/12">
          <div class="flex flex-1">
            <div class="w-full text-sm block mt-3 p-3 text-blueGray-500 uppercase font-bold flex justify-between items-center rounded border border-solid border-blueGray-100">
              <span>200 Total Result Found</span>
              <button class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                Sort by <i class="fas fa-chevron-down ml-2"></i>
              </button>
            </div>
          </div>
          <app-card-ad-info></app-card-ad-info>
          <app-card-ad-info></app-card-ad-info>
          <app-card-ad-info></app-card-ad-info>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
