<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6 pt-0">
          <div class="flex justify-center">
            <img alt="..." class="" src="assets/img/Forgot-password.png" />
          </div>
          <div class="text-center">
            <h4 class="text-3xl font-bold leading-normal mt-0 text-blueGray-700">
              Forgot your password ?
            </h4>
            <p class="text-sm font-normal leading-relaxed mb-4 text-blueGray-800">
              To reset your password, enter the email address you use to sign in to Venue Pod. We will then send you a link to reset the password.
            </p>
          </div>
          <!-- <hr class="mt-6 border-b-1 border-blueGray-300" /> -->
        </div>
        <div class="flex-auto px-4 lg:px-10 py-8 pt-0">
          <form>
            <div class="relative w-full mb-3">
              <label
                class="block text-blueGray-800 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email:
              </label>
              <div class="relative flex w-full flex-wrap items-stretch mb-3">
                <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                  <i class="fas fa-envelope"></i>
                </span>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 pl-10"
                placeholder="Email"
              />
              </div>
            </div>

            <div class="text-center mt-6">
              <button
                  class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none w-full mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Send Link
                </button>
              <!-- <div class="flex justify-between align-center">
                <div class="text-blueGray-800 font-bold mt-2 uppercase">
                  <a [routerLink]="['/auth/register']" class="text-blueGray-800">
                    <small>Create new account <i class="fas fa-arrow-right"></i></small>
                  </a>
                </div>

              </div> -->
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
