<!-- <app-auth-navbar></app-auth-navbar>
<div class="bg-red-50">
    <p style="padding:80px;" class="text-5xl text-center"><strong> History</strong></p>

    <div class=" rounded overflow-hidden shadow-lg  flex flex-wrap border rounded" style="padding: 5rem; ">
        <div class="md:w-4/12 ">
            <img class="border rounded " style=" width: 100%; height: 100%;" src="/assets/img/partyplot.jpg" alt="Sunset in the mountains">
        </div>
        <div class="md:w-8/12" style="padding: 2rem;">
            <div class="px-6 py-4  ">
                <div class="font-bold text-xl ">Nirwana Party Lawns</div>
                <p class="text-gray-700  text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur ut nisi doloribus est tempore aut voluptatum rem quis ad, iste pariatur alias numquam officiis dolores distinctio ea. Exercitationem distinctio iusto, blanditiis molestias perferendis
                    eveniet aperiam voluptatem consectetur optio vel repellat possimus tempora praesentium molestiae magni rem, consequuntur culpa aspernatur!
                </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <button class="p-4 border rounded bg-lightBlue-600 text-white">Book again</button>
            </div>
        </div>

        <div class=" md:w-full" style="padding: 3rem;">
            <textarea name="" id="" cols="120" rows="5" placeholder="Please write your feedback here"></textarea>

        </div>

        <div>
            <button class=" border rounded bg-lightBlue-600 text-white">submit</button>
        </div>

    </div>
</div> -->

<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
    <section class="relative block h-500-px">
        <div class=" relative top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('/assets/img/history_page.jpg');
      ">
            <div class="container relative mx-auto" style="padding: 15rem;">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-4xl">
                            History
                        </h1>
                        <p class="mt-4 text-lg text-blueGray-200">
                            Thank you For choosing us..!
                        </p>
                    </div>
                </div>
            </div>

            <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0)">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
        </div>
    </section>

    <section class="relative py-20 bg-blueGray-200">

        <div class="container px-4 mx-auto bg-white rounded-lg border shadow-md">

            <div class="container px-4 mx-auto ">

                <div class="flex flex-wrap">

                    <div class="w-full px-2 flex-1">
                        <a href="#" class="flex flex-col md:flex-row md:max-w-xl hover:bg-blueGray-200" style="padding: 2rem; background-color: white;">
                            <div class="flex">

                                <img class="object-cover rounded-lg md:h-auto md:w-48 md:rounded-none md:rounded-lg" src="/assets/img/partyplot.jpg" alt="" height="150px" width="300px">
                            </div>
                            <div class="flex flex-col">
                                <div class="flex flex-col p-4">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nirwana PArty Lawns</h5>
                                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 " style="width:auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum doloribus facere sequi neque fugiat non dolorum iste cupiditate voluptates quasi nostrum adipisci excepturi ullam asperiores itaque, deleniti eveniet
                                        dolorem!
                                    </p>

                                    <button class="p-4 border rounded bg-lightBlue-600 text-white p-2 m-3" style="width: 25%;">Book again</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-3xl font-bold" style="margin-left: 3rem; margin-top: 2rem;">Rate this place :</p>
                <div class="flex flex-wrap">
                    <div>
                        <p style="margin: 1rem; margin-left:2rem ;"><i class="far fa-star " style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i></p>
                        <textarea name="" id="" cols="80" rows="5" style="margin-left:3rem ;" placeholder="Enter text here"></textarea>
                    </div>
                    <div>
                        <button class="p-4 border rounded bg-lightBlue-600 text-white  m-3" style="width: 10vw;  margin-top: 10rem; margin-left: 3rem;">submit Feedback</button>
                    </div>
                </div>

                <hr>
                <p style="margin: 1rem; margin-left:2rem ;"><i class="far fa-star " style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i><i class="far fa-star" style="padding: 1rem;"></i></p>
                <p style="margin: 1rem; margin-left:2rem ;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, provident? Ipsam, rerum fugit! Facere, repudiandae enim, fugit ratione culpa nesciunt vero quo modi voluptatem harum pariatur nostrum ad maxime eos. Maiores culpa sunt, consequuntur
                    cumque distinctio aspernatur ipsam inventore. Autem animi ullam neque, ratione blanditiis commodi dolores repellendus explicabo porro.</p>
                <button class="p-4 border rounded bg-lightBlue-600 text-white p-2 m-3" style="width: 10vw; margin-left: 2rem; margin-top: 1rem; margin-bottom: 2rem;">Edit Feedback</button>

                <hr>

            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>