<app-auth-navbar></app-auth-navbar>
<section class=" mt-14 bg-blueGray-100" style="">
    <p class="text-5xl" style="padding: 3rem;  display: flex; justify-content: center; ">FAq</p>
    <!-- <p style="display: flex; justify-content: center; padding-bottom: 2rem; margin-left: 25%; margin-right: 25%; ">At VenuePod.in, we love to interact with our customers and our partners. Please see the categories below to choose how to reach us. We make every effort to respond to your inquiry within 24 hours.</p> -->
</section>

<div class="mb-20 mt-16">
    <div class=" rounded-lg border-4 overflow-hidden shadow-lg mt-5 " style="margin-left: 20%;  margin-right: 20%; padding: 2%; ">
        <div class=" flex p-2">
            <strong style="color: red; margin-right: 1%;">Que : </strong>
            <p class="font-bold ">
                I have a wedding in my family. How can VenuePod.in help?
            </p>
        </div>
        <div class=" flex p-2"> <strong style="color: rgb(22, 19, 19); margin-right: 1%;">Ans: </strong>
            <p>
                VenuePod is a marketplace and a discovery platform for wedding venues and vendors. We are a one stop shop for all your wedding/event requirements and can connect you to the right options based on your requirements. In a nut shell, we make it convenient
                for you to plan your event. Our platform will allow you to do three things:
            </p>
        </div>
    </div>

    <div class=" rounded-lg border-4 overflow-hidden shadow-lg mt-5" style="margin-left: 20%;  margin-right: 20%; padding: 2%; ">
        <div class=" flex p-2">
            <strong style="color: red; margin-right: 1%;">Que : </strong>
            <p class="font-bold ">
                I have a wedding in my family. How can VenuePod.in help?
            </p>
        </div>
        <div class=" flex p-2"> <strong style="color: rgb(22, 19, 19); margin-right: 1%;">Ans: </strong>
            <p>
                VenuePod is a marketplace and a discovery platform for wedding venues and vendors. We are a one stop shop for all your wedding/event requirements and can connect you to the right options based on your requirements. In a nut shell, we make it convenient
                for you to plan your event. Our platform will allow you to do three things:
            </p>
        </div>
    </div>

    <div class=" rounded-lg border-4 overflow-hidden shadow-lg mt-5" style="margin-left: 20%;  margin-right: 20%; padding: 2%; ">
        <div class=" flex p-2">
            <strong style="color: red; margin-right: 1%;">Que : </strong>
            <p class="font-bold ">
                I have a wedding in my family. How can VenuePod.in help?
            </p>
        </div>
        <div class=" flex p-2"> <strong style="color: rgb(22, 19, 19); margin-right: 1%;">Ans: </strong>
            <p>
                VenuePod is a marketplace and a discovery platform for wedding venues and vendors. We are a one stop shop for all your wedding/event requirements and can connect you to the right options based on your requirements. In a nut shell, we make it convenient
                for you to plan your event. Our platform will allow you to do three things:
            </p>
        </div>
    </div>

</div>
<app-footer></app-footer>