<app-auth-navbar></app-auth-navbar>
<main>
    <div class="relative flex content-center items-center justify-center bg-blueGray-700" style="min-height: 50vh">
        <!-- <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
        background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');">
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div> -->
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center flex-1">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">
                            Our <span class="font-bold">plans</span> for your <span class="font-bold">strategies.</span>
                        </h1>
                        <p class="mt-4 text-xl text-blueGray-200">
                            See below our three main plans for your business, for your Party Plots or Banquets.It starts from here!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0)">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
        </div>
    </div>

    <section class="pb-20 bg-blueGray-200 -mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto text-center">
                <img src="assets/img/pricing-simple-bg.svg" alt="">
                <h6 class="text-2xl font-bold tracking-wide">Simple</h6>
              </div>
              <div class="px-6">
                <h6 class="text-3xl my-4 font-bold tracking-wide">
                  <span style="color: #4dc1eb;">$29</span>
                  <span class="text-sm text-blueGray-500">/ month</span></h6>
                <p class="text-sm font-normal text-blueGray-400 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus vel atque harum repudiandae quidem</p>
                <hr>
                <ul class="py-4">
                  <li class="flex">
                    <span class="rounded-full bg-blueGray-100 py-1 px-2 text-xs" style="color: #4dc1eb">
                      <i class="fas fa-check"></i>
                    </span>
                    <p class="mx-4 font-bold text-blueGray-700">Your Dashboard</p>
                  </li>
                </ul>
              </div>
              <div class="py-4 relative flex justify-center w-12/12">
                <button class="bg-transparent text-blueGray-700 tracking-wide active:bg-blueGray-600 font-semibold uppercase text-sm px-4 py-2 rounded border border-solid border-blueGray-500 shadow-md hover:shadow-lg outline-none focus:outline-none mb-2 ease-linear transition-all duration-150" type="button">
                  Get Simple
                </button>
              </div>
              </div>
          </div>

          <div class="w-full md:w-4/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto text-center">
                <img src="assets/img/pricing-basic-bg.svg" alt="">
                <h6 class="text-2xl font-bold tracking-wide">Basic</h6>
              </div>
              <div class="px-6">
                <h6 class="text-3xl my-4 font-bold tracking-wide">
                  <span style="color: #4dc1eb;">$89</span>
                  <span class="text-sm text-blueGray-500">/ month</span></h6>
                <p class="text-sm font-normal text-blueGray-400 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus vel atque harum repudiandae quidem</p>
                <hr>
                <ul class="py-4">
                  <li class="flex">
                    <span class="rounded-full bg-blueGray-100 py-1 px-2 text-xs" style="color: #4dc1eb">
                      <i class="fas fa-check"></i>
                    </span>
                    <p class="mx-4 font-bold text-blueGray-700">Your Dashboard</p>
                  </li>
                </ul>
              </div>
              <div class="py-4 relative flex justify-center w-12/12">
                <button class="bg-blueGray-700 text-white tracking-wide active:bg-blueGray-600 font-semibold uppercase text-sm px-4 py-2 rounded border border-solid border-blueGray-500 shadow-md hover:shadow-lg outline-none focus:outline-none mb-2 ease-linear transition-all duration-150" type="button">
                  Get Basic
                </button>
              </div>
              </div>
          </div>

          <div class="pt-6 w-full md:w-4/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
              <div class="px-4 py-5 flex-auto text-center">
                <img src="assets/img/pricing-pro-bg.svg" alt="">
                <h6 class="text-2xl font-bold tracking-wide">Pro</h6>
              </div>
              <div class="px-6">
                <h6 class="text-3xl my-4 font-bold tracking-wide">
                  <span style="color: #4dc1eb;">$99</span>
                  <span class="text-sm text-blueGray-500">/ month</span></h6>
                <p class="text-sm font-normal text-blueGray-400 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus vel atque harum repudiandae quidem</p>
                <hr>
                <ul class="py-4">
                  <li class="flex">
                    <span class="rounded-full bg-blueGray-100 py-1 px-2 text-xs" style="color: #4dc1eb">
                      <i class="fas fa-check"></i>
                    </span>
                    <p class="mx-4 font-bold text-blueGray-700">Your Dashboard</p>
                  </li>
                </ul>
              </div>
              <div class="py-4 relative flex justify-center w-12/12">
                <button class="bg-transparent text-blueGray-700 tracking-wide active:bg-blueGray-600 font-semibold uppercase text-sm px-4 py-2 rounded border border-solid border-blueGray-500 shadow-md hover:shadow-lg outline-none focus:outline-none mb-2 ease-linear transition-all duration-150" type="button">
                  Get Pro
                </button>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="relative py-20">

    </section> -->

    <!-- <section class="pt-20 pb-48">

    </section> -->

    <!-- <section class="pb-20 relative block bg-blueGray-800">

    </section> -->
    <!-- <section class="relative block py-24 lg:pt-0 bg-blueGray-800">

    </section> -->
</main>
<app-footer></app-footer>
