<app-auth-navbar></app-auth-navbar>
<section class="text-5xl mt-14 bg-blueGray-100" style="padding: 3rem; display: flex; justify-content: center; ">Privacy-Policy</section>
<div class=" px-40 py-14">
    <p>
        <span class="m-5" style="display: inline-block;">  As you use our services, we want you to be clear on how we’re collecting information and using it. Our Policy explains what information we collect, why we collect it and how we use it. We reserve the right to revise or make changes to these Privacy Policies of Weddingz.in by updating this page. Revised policies take effect as soon as they are published. 
        </span>

        <span class="m-5" style="display: inline-block;"> 
        <strong >Collection and Use of Personally Identifiable Information and Other Information:</strong>
            <br>

            We use software mechanisms such as cookies to help us analyse further information. Cookies are small files that allow the user’s computer to store the user’s information. They can be both permanent and temporary. The cookies do not contain any Personally Identifiable Information. Cookies are also used to allow easier access to your account, such as automatic log-in and not having to enter a password each and every time you use the website. You are always allowed to decline cookies, though it may bar certain features on the site as well as require you to re-enter password more often.
            You may encounter cookies or other similar files on the website that belong to third parties. We do not control these and are not responsible for the same.
               
        </span>

        <span class="m-5" style="display: inline-block;"> 
            If you contact us personally, or a third party sends us information about your activities on the website, we may collect this information and are not entitled to notify you.   
        </span>

        <span class="m-5" style="display: inline-block;"> 
            We also use personal information to market to you, with the option of opting out of this. Personal information is also used for purposes such as troubleshooting, safer service, understanding consumer interest, informing you about offers, services and products pertaining to your needs, detecting and avoiding error, fraud or criminal activity.  </span>

        <span class="m-5" style="display: inline-block;"> 
            We may share personal information with other affiliates to further provide related services. Those entities may or may not market to you. We may disclose personal information if required by law or other legal processes. We will share personal information with associates or businesses linked to us, pertaining to your requirements.

        </span>

        <span class="m-5" style="display: inline-block;"> 
            <strong>Links to other website:</strong>
            <br>
            Weddingz.in has links with other online entities. We are not responsible for the content or privacy practices of these third party websites. Users should click on these external links at their own risk. We encourage you to review their Privacy Policy and Terms of Use, if required.
        </span>
        <span class="m-5" style="display: inline-block;"> 
            <strong>Consent:</strong>
            <br>
            By accessing Weddingz.in or providing information on our portal, you are in automatic agreement with this Privacy Policy.
        </span>
        <span class="m-5" style="display: inline-block;"> 
            <strong>Governing Law:</strong>
            <br>
            This Privacy Policy of Weddingz.in is under the jurisdiction of India, thereby adhering to the law of the Indian government.
        </span>
        <span class="m-5" style="display: inline-block;"> 
            <strong>Contact</strong>
            <br>
            For further enquiries or information, feel free to mail us at <a href="info@weddingz.in" style="color: brown;">info@weddingz.in</a>  .
        </span>
    </p>
</div>
<app-footer></app-footer>